@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@1,700&display=swap');

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, #282828 0%, #282828 45%, #262626 45%, #262626  100%);
  }

.home-title {
  font-family: 'Cuprum', sans-serif;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 30px;
}


.home-button {
  opacity: 0;
  background-color: #121111;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: fadeIn 1s ease-out 1s forwards;
}

.home-button:hover {
  background-color: #000000;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}